//Modellt definiálunk, így már tud listát fogadni
@model List<ToDoApp.Models.TodoItem>
@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista</h2>
@*Megjegyzés ez itt*@




<ol>

    @foreach (var todoItem in Model)
    {
        if (todoItem.Done)
        {
            <li><strike>@todoItem.Name</strike></li>
        }
        else
        {
            <li>@todoItem.Name</li>
        }


    }


</ol>
