//Modellt definiálunk, így már tud listát fogadni
@model List<string>
@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista</h2>
@*Megjegyzés ez itt*@




<ol>

    @foreach (var l in Model)
    {
        <li>@l</li>
    }


</ol>
